/* NAVBAR */

.headers {
    padding: 0px;
}

.navbar {
    background-color: transparent;
}

/* PRESENTATION */
#background-pres {
    background-image: url(ressources/wallpaper\ présentation.jpeg);
    background-size: cover;
}