/* NAVBAR */
.headers {
    padding: 0px;
}

.navbar {
    background-color: transparent;
    padding-left: 400px;
    padding-right: 400px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: whitesmoke;
    font-weight: 610;
}
.navbar-brand {
    color: whitesmoke;
    font-weight: 610;
}

/* PRESENTATION */
#background-pres {
    background: url("ressources/wallpaper\ présentation.jpeg"),linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.0001) 85.4%);
    background-size: cover;
    height: 680px;
}

.display-4 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}
.jumbotron {
    background-color: transparent;
}

/* FORMULAIRE */
.form-control {
    font-weight: bold;
}